 .u-section-1 {
  background-image: url("images/Restaurerlefichierdepuis2021-10-31133440.114.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2569px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 31px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 928px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 2px -2px 8px 0 rgba(44,204,196,1);
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 13px 20px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 23px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 928px;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 2px -2px 8px 0 rgba(44,204,196,1);
  padding: 21px 29px 19px;
}

.u-section-1 .u-image-1 {
  height: 603px;
  box-shadow: 2px -2px 8px 0 rgba(44,204,196,1);
  width: 495px;
  margin: 126px auto 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 910px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 2px -2px 8px 0 rgba(44,204,196,1);
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 43px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 910px;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 2px -2px 8px 0 rgba(44,204,196,1);
  padding: 27px 30px;
}

.u-section-1 .u-image-2 {
  height: 746px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 2px -2px 8px 0 rgba(44,204,196,1);
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 443px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  box-shadow: 2px -2px 8px 0 rgba(44,204,196,1);
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 79px 0 0;
}

.u-section-1 .u-text-7 {
  margin: 43px 35px 0;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 443px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  box-shadow: 2px -2px 8px 0 rgba(44,204,196,1);
  padding: 27px 29px;
}

.u-section-1 .u-text-8 {
  margin: 0 29px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 227px;
  box-shadow: 2px -2px 8px 0 rgba(44,204,196,1);
  margin-top: 30px;
  margin-bottom: 31px;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px;
}

.u-section-1 .u-text-10 {
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 43px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1717px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 765px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1005px;
  }

  .u-section-1 .u-image-1 {
    height: 484px;
    margin-top: 225px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 750px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1010px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-1 .u-image-2 {
    height: 464px;
    width: 381px;
    margin-top: 279px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 365px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 365px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1130px;
  }

  .u-section-1 .u-image-1 {
    height: 355px;
    margin-top: 422px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 1162px;
  }

  .u-section-1 .u-image-2 {
    height: 333px;
    margin-top: 446px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4185px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 681px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 662px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 21px;
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-image-1 {
    height: 611px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 654px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 573px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 364px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 60px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 387px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 295px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4304px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 953px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-image-1 {
    height: 376px;
    margin-top: 13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 444px;
  }

  .u-section-1 .u-image-2 {
    height: 353px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    min-height: 401px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 23px;
  }
}